{
  "presets": [
    "env",
    //"stage-2",
    //"es2015",
    //"stage-1",
  ],
  "plugins": [
    "add-module-exports",
    //"transform-es3-member-expression-literals",
    //"transform-es3-property-literals",
    //"transform-runtime"
  ]
}